/* Regular 폰트 */
@font-face {
  font-family: 'KakaoSmallSans';
  src: url('../../../public/fonts/KakaoSmallSans-Light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* Bold 폰트 */
@font-face {
  font-family: 'KakaoSmallSans';
  src: url('../../../public/fonts/KakaoSmallSans-Regular') format('truetype');
  font-weight: bold;
  font-style: normal;
}

/* Black 폰트 */
@font-face {
  font-family: 'KakaoSmallSans';
  src: url('../../../public/fonts/KakaoSmallSans-Bold.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

/* Tailwind 기본 리셋 */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* HTML 태그에 기본 폰트 적용 */
@layer base {
  html {
    font-family: 'KakaoSmallSans', sans-serif;
  }

  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
}
